*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--clr-normal-green:   #00A74A;
	--clr-normal-red:     #9F0F17;
	--clr-normal-yellow:  #CCA707;
	--clr-normal-blue:    #094A8F;
	
	--clr-light-green:    #13ff7c;
	--clr-light-red:      #ff4c4c;
	--clr-light-yellow:   #fed93f;
	--clr-light-blue:     #1c8cff;
	
	--clr-border:		  #333333;
	--clr-center:  		  #ECE7EE;

	--clr-counter-bg:	  #32050C;
	--clr-counter-off:	  #430710;
	--clr-counter-on:	  #DC0D29;
	
	--clr-switch: 	      #3193DE;

	--game-size: 48rem;
	--game-border: 1.5rem solid var(--clr-border);
}


html {
	font-size: 62.5%;
}

body {
	background-image: url('/images/pattern_wood.jpg');
	font-family: "Bungee", Verdana, sans-serif;
}

.container {
	width: var(--game-size);
	margin-left: auto;
	margin-right: auto;
}

.game {
	width: var(--game-size);
	height: var(--game-size);
	display: flex;
	flex-wrap: wrap;
	margin-top: 5rem;
	position: relative;
}

.game_title {
	font-size: 2.6rem;
	text-transform: uppercase;
	margin: 0;
	padding-left: 2.2rem;
	padding-top: 4.7rem;
}

.reg {
	font-family: verdana, sans-serif;
	font-size: 1.4rem;
	margin-left: -0.5rem;
	vertical-align: top;
}

.game_pad {
	width: calc(var(--game-size) / 2);
	height: calc(var(--game-size) / 2);
	border: var(--game-border);
}

.blue {
	background-color: var(--clr-normal-blue);
	border-top-left-radius: 100%;
}

.red {
	background-color: var(--clr-normal-red);
	border-top-right-radius: 100%;
}

.yellow {
	background-color: var(--clr-normal-yellow);
	border-bottom-left-radius: 100%;
}

.green {
	background-color: var(--clr-normal-green);
	border-bottom-right-radius: 100%;
}

.blue.game_pad--active {
	background-color: var(--clr-light-blue);
}

.red.game_pad--active {
	background-color: var(--clr-light-red);
}

.yellow.game_pad--active {
	background-color: var(--clr-light-yellow);
}

.green.game_pad--active {
	background-color: var(--clr-light-green);
}

.game_pad--btn {
	cursor: pointer;
}

.game_options {
	position: absolute;
	background-color: var(--clr-center);
	width: calc(var(--game-size) / 2);
	height: calc(var(--game-size) / 2);
	top: calc(var(--game-size) / 4);
	left: calc(var(--game-size) / 4);
	border: var(--game-border);
	border-radius: 25rem;
}

.console {
	padding-left: 1.5rem;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
}

.group {
	margin-right: 2.2rem;
}

.group-large {
	display: flex;
	width: 10rem;
	margin-left: 4.5rem;
}

.console_label {
	font-family: "Arima Madurai", cursive;
	font-weight: bold;
	font-size: 0.75rem;
	text-align: center;
	text-transform: uppercase;
}

.console_btn {
	width: 2.5rem;
	height: 2.5rem;
	margin-left: .2rem;
	font-size: .2rem;
	border-radius: 5rem;
	box-shadow: 0 .2rem .3rem #222;
	border: .4rem solid #444;
	cursor: pointer;
}

.console_btn:active {
	transform: translate(0, .3rem);
	box-shadow: none;
}

.start {
	background-color: red;
}

.strict {
	background-color: yellow;
}

.switch {
	margin: 0;
	padding-top: 0.75rem;
}

.console_btn-switch {
	background-color: #222;
	margin-left: .5rem;
	margin-right: .5rem;
	width: 5rem;
	height: 2.3rem;
	border-radius: .3rem;
	cursor: pointer
}

.console_btn-switch::before {
	content: "";
	background-color: var(--clr-switch);
	display: block;
	position: relative;
	left: 2.5rem;
	width: 2.2rem;
	height: 1.9rem;
	border-radius: .3rem;
	border: .2rem solid #333;
}

.console_btn-switch--on::before {
	left: 0;
}

.console_counter {
	background-color: var(--clr-counter-bg);
	color: var(--clr-counter-off);
	font-family: "Iceland", cursive;
	font-weight: bold;
	font-size: 3rem;
	text-align: right;
	width: 5.5rem;
	border: .3rem solid #000;
	border-radius: 1rem;
	padding-right: .2rem;
	padding-left: .3rem;
}

.console_counter--on {
	color: var(--clr-counter-on);
}

.console_led {
	background-color: #32050C;
	margin-left: 1rem;
	margin-bottom: .5rem;
	width: .8rem;
	height: .8rem;
	border: .2rem solid #222;
	border-radius: 2rem;
}

.console_led--active {
	background-color: red;
}
footer {
	text-align: center;
	margin-top: 5rem;
	font-size: 1rem;
}

@media (max-width: 600px){
	html {
		font-size: 45%;
	}
}